@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:wght@1;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');

body {
    margin: 0;
    background-image: url(./assets/fondo-web-minimal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    display: flex;
    height: 12%;
    width: 100%;
    margin: 0;
    background-color: black;
    justify-content: center;
    box-shadow: 0px 4px 5px 1px rgba(168,109,109,0.7);
}

.links{
    position: absolute;
    display: flex;
    right: 30px;
    align-self: center;
    margin-right: 30px;
}

.links-lista{
    display: flex;
    text-decoration: none;
    list-style: none;
}

.links img {
    margin-inline: 3px;
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.instagram img{
    margin-right: -6px;
    height: 45px;
    width: 58px;
}

.linkedin img{
    height: 43px;
    width: 42px;
}

h1 {
    margin: 0%;
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 60px;
    color: white;
    text-align: center;
    font-weight: 300;
}

h2{
    font-family: 'Aboreto', cursive;
    font-weight: 200;
    font-size: 60px;
}

.uno{
    display: flex;
    justify-content: start;
    font-family: 'Passion One', cursive;
    font-size: 200px;
    color: rgba(206, 30, 30, 0.726);
    margin: 0px;
    line-height: 50%;
}

.dos{
    display: flex;
    justify-content: end;
    font-family: 'Passion One', cursive;
    font-size: 200px;
    color: rgba(206, 30, 30, 0.726);
    margin: 0px;
    line-height: 50%;
}

.parrafo-section-1{
    font-family: 'Cormorant', serif;
    margin-top: -40px;
    font-size:  30px;
    font-weight: 500;
    text-shadow: 3px 0px 5px rgb(255, 255, 255);
}

p{
    font-family: 'Cormorant', serif;
    font-size:  30px;
    font-weight: 500;
}

.container-general {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.container-texto{
    padding-inline: 20px;
    border-radius: 2px;
    margin-left: 20%;
    background-color: rgba(255, 255, 255, 0.22);
    text-align: center;
    margin-top: 0%;
}

.container-foto {
    display: inline-block;
    justify-self: center;
    align-items: center;
}

.container-foto img{
    border-top-left-radius: 275px;
    margin-top: 20%;
}

.container-general-2 {
    height: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    gap: 30px;
    box-sizing: border-box;
}

.titulo-seccion-2{
    text-align: end;
    font-family: 'Aboreto', cursive;
    font-weight: 100;
    font-size: 60px;
    margin-right: 20px;
}

.container-parrafo-2{
    padding-inline: 20px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.062);
    text-align: end;
    align-self: center;
}

.parrafo-section-2{
    font-family: 'Cormorant', serif;
    margin-top: 20px;
    font-size:  24px;
    font-weight: 600;
}

.container-foto-2{
    justify-self: center;
    align-self: center;
}

.container-foto-2 img{
    height: 500px;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
}

.parrafo-section-2-resaltar{
    
    font-family: 'Passion One';
    font-size: 20px;
    color: rgba(206, 30, 30, 0.726);
}

.seccion-cuestionario{
    display: block;
    font-family: 'Cormorant', serif;
    font-size: 20px;
    font-weight: 100;
}

.form-text{
    font-family: 'Cormorant', serif;
    font-size: 20px;
    font-weight: 100;
}

.cuestionario{
    display: block;
}

.container-3{
    margin: 0px;
    margin-bottom: 0;
    box-sizing: border-box;
    padding: 150px;
    height: 100vh;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.label{
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

input{
    display: block;
    width: 96%;
    height: 2.0rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.input-textarea{
    border-radius: 25px;
    min-height: 180px;
    max-height: 180px;
    width: 96%;
    padding: 0.625rem;
    resize: vertical;
}

.button-form{
    display: flex;
    justify-content: center;
}

.submit-button{
    height: 30px;
    width: 130px;
    border-radius: 8px;
    color: grey;
    border: solid;
    border-color: rgba(206, 30, 30, 0.4);
    border-width: 1.5px;
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.5);
}

.submit-button:hover{
    background-color: rgba(206, 30, 30, 0.4);
    color: white;
}

.pie-pagina{
    display: flex;
    position: relative;
    bottom: -40px;
    justify-content: center;
}

.anchor-final{
    text-align: center;
    font-family: 'Aboreto', cursive;
    font-size: 12px;
    text-decoration: none;
    color: rgba(168,109,109,0.7);
}

@media (max-width: 640px) {

    .navbar {
        display: flex;
        justify-content: unset;
    }

    h1 {
        display: flex;
        margin-top: 1%;
        margin-bottom: 0;
        font-size: 38px;
        margin-left: 10px;
    }

/* Si sobra mucho espacio se puede jugar con el margin de h2 y de parrafo section 1 para que sea mas responsive */

    h2{
        position: relative;
        margin-block: 0;
        z-index: 100;
    }

    .links{
        display: flex;
        align-self: center;
        margin-right: -24px;
    }

    .links-lista{
        margin-block: 0px;
    }

    .container-general {
        display: flex;
    }

    .container-texto {
        
        margin-left: 0;
        margin-top: 0%;
    }
    
    .parrafo-section-1 {
        margin-top: -28px; 
        position: relative;
        z-index: 1;
        color: white;
        backdrop-filter: contrast(0.69);
        text-shadow: none;
    }

    .container-foto {
        z-index: 0;
        position: absolute;
    }

    .container-general-2 img{
        display: none;
    }

    .container-general-2{
        display: flex;
        background-color: aliceblue;
    }

    .parrafo-section-2 {
        margin-block: 12px;
        font-size: 23px;

    }

    .titulo-seccion-2{
        display: none;
    }

    h2 {
        z-index: 100;
        font-family: 'Aboreto', cursive;
        font-weight: 200;
        font-size: 60px;
        position: relative;
    }

    .uno {
        z-index: 100;
        margin: -3px;
        line-height: 0;
        position: relative;
        margin-top: 80px;
    }

    .dos{
        position: relative;
        z-index: 100;
        line-height: 0;
        margin-top: 68px;
    }

    .submit-button {
        position: relative;
        height: 50px;
        width: 280px;
        right: -6px;
    }

    .seccion-cuestionario{
        font-weight: 600;
    }

    .form-text{
        font-weight: 600;
    }
    
}